.row
  .span12
    = link_to "New Event", new_company_admin_event_url, :class => 'btn pull-right'
.row
  .span10
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            Venue
          %th
            Event Name
          %th
            Price
          %th
            Start Time
          %th
            End Time
          %th
            Schedule: Next 5 Dates
          %th
            Actions
      %tbody
        - @events.each do |event|
          %tr
            %td
              = event.venue.name
            %td
              = event.name
            %td
              = number_to_currency(event.price)
            %td
              = event.schedule.start_time.strftime("%l:%M %P")
            %td
              = event.schedule.end_time.strftime("%l:%M %P") unless event.schedule.end_time.nil?
            %td
              %ul
                %li
                  = event.schedule.start_time.strftime("%A, %B %d, %Y")
                - event.schedule.first(4).each do |schedule|
                  %li
                    = schedule.strftime("%A, %B %d, %Y")

            %td
              = link_to "Edit", edit_company_admin_event_url(event), :class => 'btn'
              = link_to "Delete", company_admin_event_url(event), :method => :delete, :class => 'btn btn-danger', :confirm => 'Are you sure you want to delete? This action can not be undone.'

