%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        Name
      %th
        Address
      %th
        City
      %th
        State
      %th
        Zipcode
      %th
        Phone Number
  %tbody
    - @venues.each do |venue|
      %tr
        %td
          = link_to venue.name, venue_url(venue)
        %td
          = venue.formatted_address
        %td
          = venue.city
        %td
          = venue.state
        %td
          = venue.zipcode
        %td
          = venue.phone_number

