%h2
  Venue
%p
  Name:
  = @venue.name
%p
  Address:
  = @venue.formatted_address
%p
  City:
  = @venue.city
%p
  State:
  = @venue.state
%p
  Zip Code:
  = @venue.zipcode
%p
  Phone Number:
  = @venue.phone_number
