.row
  .span12
    = link_to "New Venue", new_company_admin_venue_url, :class => 'btn pull-right'
.row
  .span10
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            Name
          %th
            Address
          %th
            City
          %th
            State
          %th
            Zipcode
          %th
            Phone Number
          %th
            Actions
      %tbody
        - @venues.each do |venue|
          %tr
            %td
              = venue.name
            %td
              = venue.formatted_address
            %td
              = venue.city
            %td
              = venue.state
            %td
              = venue.zipcode
            %td
              = venue.phone_number
            %td
              = link_to "Edit", edit_company_admin_venue_url(venue), :class => 'btn'
              = link_to "Delete", company_admin_venue_url(venue), :method => :delete, :class => 'btn btn-danger', :confirm => 'Are you sure you want to delete? This action can not be undone.'

